@charset "UTF-8";
@keyframes zoomNotif {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes slideRight {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0); } }

@keyframes focus {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(0.4rem); }
  100% {
    transform: translateY(0);
    box-shadow: 0; } }

@keyframes boxShadow {
  0% {
    box-shadow: var(--shadow-light); }
  100% {
    box-shadow: 0.4rem 0.2rem 1.2rem rgba(0, 0, 0, 0.03); } }

@keyframes photoMove {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.6rem); }
  80% {
    transform: translateY(0.4rem); }
  100% {
    transform: translateY(0); } }

@keyframes activeEffect {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0;
    transform: scale(0); }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(3); }
  100% {
    width: 0%;
    height: 0%;
    opacity: 0;
    transform: scale(0); } }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: .8rem .6rem 1.1rem rgba(0, 0, 0, .05); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-2); }

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-grey-light-2); }

.container {
  box-shadow: var(--shadow-dark); }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 6rem;
      background-color: var(--color-grey-light-1); } }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }
  @media only screen and (max-width: 31.25em) {
    .content {
      margin-top: 5rem; } }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      position: relative; } }

.hotel-view {
  display: inline-block;
  background-color: #fff;
  flex: 1; }
  @media only screen and (max-width: 56.25em) {
    .hotel-view {
      margin-top: -2rem;
      position: relative;
      z-index: 2; } }
  @media only screen and (max-width: 37.5em) {
    .hotel-view::after {
      content: '© 2020 by Trillo. All rights reserved.';
      width: 100%;
      font-size: 1.2rem;
      padding: 2rem;
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      background-color: var(--color-grey-dark-1); } }

.detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; }
  @media only screen and (max-width: 68.75em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column;
      padding-bottom: 4rem; } }

.description,
.user-reviews {
  background-color: #fff;
  border-radius: 2rem;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description,
    .user-reviews {
      padding: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .description,
    .user-reviews {
      padding: 3rem; } }

.description {
  flex: 0 0 60%;
  box-shadow: -4px -4px 4px #fff, 1rem 0.6rem 1.6rem rgba(0, 0, 0, 0.03);
  margin-right: 4.5rem; }
  @media only screen and (max-width: 75em) {
    .description {
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      margin-top: 1rem; } }
  .search__input {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-grey-dark-2);
    box-shadow: var(--shadow-light);
    background-color: #fff;
    width: 85%;
    padding: .7rem 2rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    margin-right: -3.5rem;
    position: relative;
    caret-color: var(--color-primary-dark);
    transition: .3s; }
    @media only screen and (max-width: 31.25em) {
      .search__input {
        width: 80%; } }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
    .search__input:focus {
      transform: scaleX(1.1); }
    .search__input:focus ~ .search__button {
      margin-left: 1.8rem; }
  .search__button {
    background-color: transparent;
    width: 2rem;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: .3s; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      border: none; }
  .search__icon {
    width: 2rem;
    height: 2rem; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  height: 100%; }
  .user-nav > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 2;
    backface-visibility: hidden;
    transition: .05s; }
    .user-nav > *:active {
      transform: scale(0.95);
      box-shadow: 0 0 0.2rem var(--color-grey-dark-3); }
  .user-nav > *::before {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: -2rem;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: var(--color-grey-light-3);
    z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: .5s ease, opacity .1s; }
  .user-nav > *:hover::before {
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(3); }
  .user-nav__icon-box:hover .user-nav__notification {
    animation: zoomNotif .5s ease 1 alternate forwards; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem; }
  .user-nav__notification {
    font-size: .8rem;
    font-weight: 600;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user {
    border-left: 1px solid var(--color-grey-light-3); }
  .user-nav__user div {
    display: flex;
    align-items: center; }
  .user-nav__user-photo {
    width: 3.75rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0.3rem var(--color-grey-light-3);
    transition: .6s; }
  .user-nav__user:hover .user-nav__user-photo {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5); }
  .user-nav__user:hover .user-nav__user-name {
    animation: slideRight .5s ease 1 alternate forwards;
    color: var(--color-grey-dark-2); }
  .user-nav__user-name {
    margin-left: 1rem;
    transform: translateX(0);
    font-weight: 600;
    color: var(--color-grey-dark-3); }

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.4rem;
  list-style: none; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      flex-direction: row;
      margin: 0;
      height: 100%; } }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.4s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active:before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active {
    transform: scale(0.96);
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5); }
  .side-nav__item:active::before {
    background-color: var(--color-primary-dark); }
  .side-nav__item span {
    transition: .4s; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__item span {
        font-size: 1.2rem; } }
  .side-nav__item:hover span {
    transform: translateX(1rem); }
    @media only screen and (max-width: 37.5em) {
      .side-nav__item:hover span {
        transform: translateX(0); } }
  .side-nav__item {
    position: relative;
    transition: .05s, box-shadow .1s; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__link, .side-nav__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    width: 100%;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1rem; } }
  .side-nav__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        width: 1.6rem;
        height: 1.6rem;
        margin: 0;
        margin-bottom: .6rem; } }

.legal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-light-2); }

.legal {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 1.8rem; }

@media only screen and (max-width: 56.25em) {
  .legal,
  .legal::before {
    display: none; } }

.gallery {
  display: flex;
  flex-direction: row; }
  .gallery__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .3s; }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__item {
        overflow: visible; } }
    .gallery__item:active {
      transform: scale(0.98); }
  .gallery__item:hover .gallery__box {
    opacity: 1;
    visibility: visible; }
  .gallery__item:hover .gallery__caption {
    opacity: 1;
    visibility: visible;
    top: 50%;
    transform: translateY(-50%); }
  .gallery__item:active .gallery__caption {
    top: 50%;
    opacity: .4;
    transform: translateY(-50%) scaleX(0.9); }
  .gallery__box {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: .2s; }
    @media only screen and (max-width: 31.25em) {
      .gallery__box {
        font-size: .8rem; } }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__box {
        background-color: var(--color-grey-dark-1);
        opacity: 1;
        visibility: visible;
        transform: translateY(100%); } }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__box:after {
        content: '';
        position: absolute;
        width: 100%;
        height: .5px;
        background-color: rgba(255, 255, 255, 0.5);
        top: 50%;
        transform: translateY(-50%); } }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__box--home:after {
        display: none; } }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__box--home {
        border-right: 0.5px solid rgba(255, 255, 255, 0.5);
        border-left: 0.5px solid rgba(255, 255, 255, 0.5); } }
  .gallery__caption {
    position: absolute;
    top: 50%;
    transform: translateY(5%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .4s, scaleX .01s; }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__caption {
        opacity: 1;
        visibility: visible;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        justify-content: space-around; } }
  .gallery__hotel {
    padding-bottom: .4rem; }
  .gallery__location {
    border-top: .2px solid #fff;
    padding-top: .4rem; }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__location {
        text-transform: none !important; } }
  .gallery__hotel, .gallery__location {
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .gallery__hotel, .gallery__location {
        border: 0;
        padding: 0; } }
  .gallery__icon-location {
    margin-right: .4rem;
    width: 2rem;
    height: 2rem; }
    @media only screen and (max-width: 68.75em), only screen and (hover: none) {
      .gallery__icon-location {
        margin-right: .2rem;
        width: 2.5rem;
        height: 2.5rem; } }
    @media only screen and (max-width: 31.25em) {
      .gallery__icon-location {
        width: 1.4rem;
        height: 1.4rem; } }
    .gallery__icon-location--home {
      width: 2rem;
      height: 2rem;
      margin: 0;
      transition: .2s; }
      @media only screen and (max-width: 68.75em) {
        .gallery__icon-location--home {
          width: 2.5rem;
          height: 2.5rem; } }
      @media only screen and (max-width: 31.25em) {
        .gallery__icon-location--home {
          width: 1.4rem;
          height: 1.4rem; } }
      .gallery__icon-location--home:hover {
        filter: drop-shadow(0 0 0.6rem #fff); }
  .gallery:hover .gallery__item:not(:hover) {
    filter: blur(0.4rem); }
  .gallery__photo {
    width: 100%;
    height: 100%;
    display: inline-block; }

.overview {
  display: flex;
  align-items: center;
  background-color: var(--color-primary); }
  @media only screen and (max-width: 31.25em), only screen and (hover: none) {
    .overview {
      margin-top: 20%; } }
  @media only screen and (max-width: 31.25em) {
    .overview {
      flex-wrap: wrap; } }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    align-self: stretch;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--color-primary);
    color: #fff;
    position: relative;
    z-index: 2;
    transition: .1s; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.4rem;
        padding: 1.2rem; } }
    @media only screen and (max-width: 31.25em) {
      .overview__heading {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 20em) {
      .overview__heading {
        font-size: 1.2rem; } }
    .overview__heading:active {
      transform: scale(0.95);
      box-shadow: 0 0 0.2rem var(--color-grey-dark-3); }
    .overview__heading::before {
      content: '';
      position: absolute;
      bottom: -3rem;
      left: -2rem;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background-color: var(--color-grey-light-3);
      z-index: -2;
      opacity: 0;
      transform: scale(0);
      transition: .5s ease, opacity .1s;
      bottom: -1rem;
      left: -1rem;
      background-color: rgba(0, 0, 0, 0.2); }
    .overview__heading:hover::before {
      outline: none;
      width: 100%;
      height: 100%;
      opacity: 1;
      transform: scale(3); }
  .overview__stars {
    margin-right: auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    background-color: var(--color-primary);
    border-left: 1px solid var(--color-grey-light-3);
    color: #fff;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 37.5em) {
      .overview__stars {
        padding: 0 1.2rem; } }
    @media only screen and (max-width: 31.25em) {
      .overview__stars {
        margin: 0;
        flex: 1; } }
    .overview__stars::before {
      content: '';
      position: absolute;
      bottom: -3rem;
      left: -2rem;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background-color: var(--color-grey-light-3);
      z-index: -2;
      opacity: 0;
      transform: scale(0);
      transition: .5s ease, opacity .1s;
      bottom: -1rem;
      left: -1rem;
      background-color: rgba(0, 0, 0, 0.2); }
    .overview__stars:hover::before {
      outline: none;
      width: 100%;
      height: 100%;
      opacity: 1;
      transform: scale(3); }
  .overview__icon-star, .overview__icon-location {
    width: 1.8rem;
    height: 1.8rem; }
  @media only screen and (max-width: 37.5em) {
    .overview__icon-star {
      width: 1.4rem;
      height: 1.4rem; } }
  .overview__icon-location {
    margin-right: .5rem; }
    @media only screen and (max-width: 31.25em), only screen and (hover: none) {
      .overview__icon-location {
        margin-right: .2rem; } }
  .overview__icon-average {
    margin-left: 2px;
    width: 1.5rem;
    height: 1.5rem; }
  .overview__location {
    display: flex;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    align-self: stretch;
    overflow: hidden;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 37.5em) {
      .overview__location {
        padding: 1.2rem; } }
    @media only screen and (max-width: 31.25em) {
      .overview__location {
        flex: 0 0 100%;
        border-top: 0.4px solid var(--color-grey-light-3);
        border-bottom: 0.4px solid var(--color-grey-light-3); } }
    .overview__location::before {
      content: '';
      position: absolute;
      bottom: -3rem;
      left: -2rem;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background-color: var(--color-grey-light-3);
      z-index: -2;
      opacity: 0;
      transform: scale(0);
      transition: .5s ease, opacity .1s;
      bottom: -1rem;
      left: -1rem;
      background-color: rgba(0, 0, 0, 0.2); }
    .overview__location:hover::before {
      outline: none;
      width: 100%;
      height: 100%;
      opacity: 1;
      transform: scale(3); }
  .overview__rating {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary);
    color: #fff;
    padding: 0 2.25rem;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: .2s; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.2rem;
        flex: 1; } }
    .overview__rating::before {
      content: '';
      position: absolute;
      bottom: -3rem;
      left: -2rem;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background-color: var(--color-grey-light-3);
      z-index: -2;
      opacity: 0;
      transform: scale(0);
      transition: .5s ease, opacity .1s;
      background-color: rgba(0, 0, 0, 0.2);
      bottom: -2rem;
      left: -1rem; }
    .overview__rating:hover::before {
      outline: none;
      width: 100%;
      height: 100%;
      opacity: 1;
      transform: scale(3); }
    .overview__rating:hover .overview__rating-count {
      transform: translateY(0);
      visibility: visible;
      opacity: 1; }
    .overview__rating:hover .overview__rating-average {
      transform: translateY(0); }
    .overview__rating-average {
      font-size: 2.2rem;
      font-weight: 300;
      display: flex;
      align-items: center;
      transform: translateY(0.6rem);
      transition: .2s; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-average {
          font-size: 1.6rem; } }
    .overview__rating-count {
      font-size: .8rem;
      text-transform: uppercase;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-0.6rem);
      transition: .2s; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-count {
          font-size: .6rem; } }
  @media only screen and (max-width: 31.25em) {
    .overview > * {
      justify-content: center;
      background-color: var(--color-primary); } }

.btn-inline {
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  outline: none;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  transition: .3s; }
  @media only screen and (max-width: 31.25em) {
    .btn-inline {
      border-bottom: 0;
      padding: 0; } }
  .btn-inline__link, .btn-inline__link:visited {
    cursor: pointer;
    color: var(--color-primary);
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    background-color: #fff;
    border-radius: .5rem;
    padding: .4rem;
    box-shadow: var(--shadow-light);
    transform: translateY(0);
    transition: .3s,  box-shadow .1s; }
    .btn-inline__link span, .btn-inline__link:visited span {
      display: inline-block;
      margin-left: 3px;
      transition: .3s; }
    .btn-inline__link:hover span, .btn-inline__link:visited:hover span {
      margin-left: 6px; }
    .btn-inline__link:active, .btn-inline__link:visited:active {
      box-shadow: 0.4rem 0.2rem 0.6rem rgba(0, 0, 0, 0.03);
      transform: translateY(2px); }
      .btn-inline__link:active span, .btn-inline__link:visited:active span {
        margin-left: 3px; }
  .btn-inline:hover {
    color: var(--color-grey-light-1); }
  .btn-inline:focus {
    outline: none;
    animation: focus 1s ease-in-out infinite alternate forwards; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-1);
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 31.25em) {
    .list {
      flex-direction: column; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: default; }
    @media only screen and (max-width: 31.25em) {
      .list__item {
        margin-bottom: 1.5rem; }
        .list__item:nth-child(odd) {
          align-self: flex-start; }
        .list__item:nth-child(even) {
          align-self: flex-end; } }
    .list__item p {
      box-shadow: var(--shadow-light);
      padding: .6rem;
      border-radius: .6rem;
      transition: .3s; }
      @media only screen and (max-width: 31.25em) {
        .list__item p {
          padding: .4rem; } }
    .list__item:hover p {
      box-shadow: none;
      transform: translateX(0.6rem); }
  .list__item:before {
    content: '';
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 1rem;
    background-image: url("../images/svg/chevron-thin-right.svg");
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item:before {
        background-color: var(--color-primary);
        -webkit-mask-image: url("../images/svg/chevron-thin-right.svg");
        -webkit-mask-size: cover;
        background-image: none; } }
    @media only screen and (max-width: 31.25em) {
      .list__item:before {
        margin-right: .5rem; } }

.recommend {
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .recommend {
      flex-direction: column; } }
  @media only screen and (max-width: 31.25em) {
    .recommend {
      font-size: 1.2rem; } }
  .recommend__count {
    padding: .4rem;
    border-radius: .6rem;
    display: inline-block;
    box-shadow: var(--shadow-light);
    transition: .3s; }
    .recommend__count:hover {
      box-shadow: none; }
  .recommend__friends {
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateX(0);
    transition: .4s; }
    @media only screen and (max-width: 37.5em) {
      .recommend__friends {
        margin-top: 3rem;
        border-top: 1px solid var(--color-grey-light-1);
        padding-top: 1.5rem; } }
  .recommend__friends:hover {
    transform: translateX(-0.6rem); }
    @media only screen and (max-width: 37.5em) {
      .recommend__friends:hover {
        transform: translateX(0); } }
  .recommend__friends:hover .recommend__photo {
    box-shadow: var(--shadow-light); }
  .recommend__friends:hover .recommend__photo:not(:last-child) {
    margin-right: -1.5rem;
    filter: blur(0);
    opacity: 1; }
    @media only screen and (max-width: 37.5em) {
      .recommend__friends:hover .recommend__photo:not(:last-child) {
        margin-right: -1.5rem; } }
  .recommend__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .42rem solid #fff;
    box-sizing: content-box;
    position: relative;
    transition: .4s; }
    @media only screen and (max-width: 68.75em) {
      .recommend__photo {
        width: 3.5rem;
        height: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .recommend__photo {
        width: 4rem;
        height: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .recommend__photo {
        transform: translateY(0);
        transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1); } }
    @media only screen and (max-width: 37.5em) {
      .recommend__photo:hover {
        transform: translateY(0.6rem); } }
    .recommend__photo:not(:last-child) {
      margin-right: -2.8rem;
      filter: blur(0.1rem);
      opacity: .9;
      transition: .4s; }
      @media only screen and (max-width: 37.5em) {
        .recommend__photo:not(:last-child) {
          margin-right: -1.5rem;
          filter: blur(0);
          opacity: 1; } }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  z-index: 3; }
  @media only screen and (max-width: 56.25em) {
    .review {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .review:hover .review__user .review__photo {
      margin-right: 2rem; } }
  .review:hover .review__user .review__photo {
    animation: photoMove 0.8s 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) 1 alternate forwards; }
  .review::before {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: -2rem;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: var(--color-grey-light-3);
    z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: .5s ease, opacity .1s;
    background-color: var(--color-grey-light-1);
    bottom: -2rem;
    left: -2rem; }
  .review:hover::before {
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: scale(3); }
  .review:after {
    content: "\201C";
    font-family: sans-serif;
    position: absolute;
    top: -2rem;
    left: 0;
    color: var(--color-grey-light-1);
    font-size: 24rem;
    z-index: -1;
    line-height: 1; }
  .review__text {
    margin-bottom: 2rem; }
  .review__user {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-grey-light-1);
    padding-top: 1rem; }
  .review__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    transition: .4s; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .review__rating {
    padding: 1rem;
    background-color: #fff;
    font-size: 2rem;
    color: var(--color-primary);
    box-shadow: var(--shadow-light);
    border-radius: 1rem; }

.brand-text {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  margin-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .brand-text {
      margin-top: 4rem; } }
  .brand-text__title {
    color: var(--color-primary-dark);
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .brand-text__title {
        font-size: 2.4rem; } }

.brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.5rem 0;
  margin-top: 3.5rem;
  border-top: 1px solid var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-1); }
  @media only screen and (max-width: 37.5em) {
    .brand {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 31.25em) {
    .brand {
      flex-direction: column;
      justify-content: space-between;
      height: 32rem;
      margin-top: 2.5rem; } }
  .brand__photo {
    height: 3.5rem; }
    @media only screen and (max-width: 31.25em) {
      .brand__photo {
        height: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .brand__photo:not(:last-child) {
        margin-bottom: 1.5rem; } }
    .brand__photo:nth-child(3) {
      height: 5rem; }

.cta {
  font-family: 'Montserrat', sans-serif;
  margin-top: 4rem;
  text-align: center;
  display: inline-block;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0 0; } }
  @media only screen and (max-width: 37.5em) {
    .cta {
      margin-top: 2.5rem; } }
  .cta__book-now {
    color: var(--color-primary-dark);
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .cta__book-now {
        font-size: 1.6rem; } }

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  padding: 2rem 7rem;
  outline: none;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.1);
  transition: .4s; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.4rem;
      padding: 2rem 6rem; } }
  .btn > * {
    display: inline-block;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); }
  .btn__visible {
    opacity: 1; }
  .btn__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    opacity: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(4px);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover .btn__visible {
    opacity: 0;
    transform: translateY(10rem); }
  .btn:hover .btn__invisible {
    opacity: 1;
    top: 50%;
    transform: translateY(-50%); }
